<div class="container">
	<div class="ordering-section-head text-center wow bounceInRight" data-wow-delay="0.4s">
		<h3>Manage Cuisines</h3>
		<div class="dotted-line">
			<h4><%= link_to "Add cuisine", new_cuisine_path, class: 'btn btn-primary' %></h4>
		</div>
	</div>
	
	<table id="cuisineTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Cuisine</th>
				<th>Masakan</th>
				<th>Option</th>
			</tr>
		</thead>
		<tbody>
			<% @cuisines.each do |x| %>
				<tr>
					<td><%= x.cuisine %></td>
					<td><%= x.masakan %></td>
					<td>
						<%= link_to "Edit", edit_cuisine_path(x), class: 'btn btn-primary' %>
						<%= link_to "Delete", cuisine_path(x), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>