<% if @ingredient.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@ingredient.errors.count, "error") %> prohibited
    this ingredient from being saved:
  </h2>
  <ul>
    <% @ingredient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @ingredient, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :ingredient, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :ingredient, class: 'form-control' %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :ramuan, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :ramuan, class: 'form-control' %>
    </div>    
  </div>
	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", ingredients_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>